Welcome to Node {{ ansible_hostname }}

We are creted this file on {{ ansible_date_time.date }}
You can just ingore if you are not looking for this information

Contact {{ system_manager }} if anything is wrong
